.city {
    .city-form {
        text-align: center;
        padding: 30px 0 40px;

        .select {
            width: 360px;
            display: inline-block;
            @include m500 {
                width: 100%;
            }
        }
    }

    .city-list {
        @include flex($alignI: flex-start, $justify: flex-start);

        li {
            width: 25%;
            list-style: none;
            @include flex($alignI: flex-start !important);
            padding-right: 40px;

            &.visible {
                display: -webkit-box!important;
                display: -webkit-flex!important;
                display: -moz-flex!important;
                display: -ms-flexbox!important;
                display: flex!important;
            }
            @include m1100 {
                padding-right: 20px;
            }
            @include m1000 {
                width: 50%;
                padding-left: 20px;
            }
            @include m600 {
                width: 100%;
            }
            i {
                width: 35px;
                font-size: 36px;
                color: #043655;
                text-align: left;
            }

            span {
                width: -webkit-calc(100% - 35px);
                width: calc(100% - 35px);
                color: #fff;
                font-size: 18px;
                line-height: 30px;
                text-align: left;
                @include m500 {
                    font-size: 16px;
                }
            }
        }
    }
}


.title {
    color: #fff;
    font-size: 30px;
    font-family: $ptb;
}
.show-more {
    margin: 40px 0;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px dashed #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
        border-bottom-color: transparent;
    }
}

.subtitle {
    margin: 20px 0 25px;
    color: #fff;
    font-size: 24px;
}

.quality-box {
    @include flex($alignI: flex-start, $justify: center);
    padding: 0 100px 80px;
    @include m700 {
        padding: 0;
        margin-bottom: 40px;
    }
    .item {
        width: 33.333%;
        @include m500 {
            width: 100%;
            margin-bottom: 20px;
        }
        img {
            display: block;
            margin: 0 auto 20px;
        }

        span {
            color: #fff;
        }
    }
}


.news {
    padding-bottom: 30px;

    .show-more {
        margin-top: 15px;
    }
}
.news-box {
    @include flex($alignI: flex-start, $justify: space-around);
    padding-top: 43px;

    .news-item {
        width: 200px;
        height: 170px;
        background-image: url(../images/news.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        color: #000;

        .news-title {
            height: 50px;
            @extend %vertAlign;
            color: #000;

            span {
                max-width: 95%;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                font-family: $rm;
                line-height: 20px;
            }
        }
    }
}