.facts {
    padding-bottom: 140px;
    
    .subtitle {
        color: #000;
        @include m1200 {
            color: #03c1ff;
        }
    }
    .title {
        color: #043655;
        @include m1200 {
            color: #FFF;
        }
    }
    @media (max-width: 700px) {
        padding-bottom: 80px;
    }
}

.facts-box {
    @include flex($alignI: stretch, $justify: flex-start);
    padding: 0 70px;
    @include m1000 {
        padding: 0 40px;
    }
    @include m700 {
        padding: 0;
    }
    .fact {
        width: 25%;
        position: relative;
        text-align: left;
        padding: 0 30px 25px;
        margin-bottom: 40px;
        @include m1100 {
            padding: 0 10px 25px;
        }
        @include m1000 {
            width: 33.333%;
        }
        @media (max-width: 600px) {
            width: 50%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
        .fact-title {
            font-size: 18px;
            font-family: $rm;
            line-height: 27px;
            color: #000;
             @include m1200 {
                color: #FFF;
            }
        }

        p {
            font-size: 14px;
            color: #514f4f;
            line-height: 22px;
            @include m1200 {
                color: #FFF;
            }
        }

        .fact-more {
            font-size: 14px;
            color: #fa4844;
            position: absolute;
            bottom: 0;
            left: 30px;
            @include m1200 {
                color: #cdc9c9;
            }
            i {
                margin-left: 5px;
            }
        }
    }
}