.offer {
    padding-top: 120px;
    background-color: #001e36;
    span {
        color: #FFF;
        font: 30px $rl;
    }
    h1 {
        margin: 30px auto 50px;
    }
}

.logo {
    margin-bottom: 25px;
}

.advantages {
    margin-top: 115px;
    &__item {
        span {
            font: 18px/24px $rl;
            max-width: 165px;
            display: inline-block;
            padding-left: 65px;
            position: relative;
            text-align: left;
            i {
                position: absolute;
                left: 0;
                top: 0;
                color: #FFF;
                font-size: 56px;
            }
        }
    }
}

.interesting {
    position: fixed;
    right: 90px;
    bottom: 40px;
    width: 155px;
    text-align: left;
}