.parallax {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.prlx-scale {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.moon-2 {
    width: 179px;
    height: 179px;
    
    bottom: 190px;
    right: 190px;
}

.cloud-2 {
    width: 1038px;
    height: 769px;
    right: 0;
    bottom: -100px;
}

.moon-1 {
    width: 200px;
    height: 200px;
    
    top: 225px;
    left: 145px;
}

.cloud-1 {
    width: 957px;
    height: 1005px;
    left: 0;
    top: -100px;
}

.mks {
    width: 507px;
    height: 362px;
    right: 25px;
    top: 275px;
}

.cloud-3 {
    width: 938px;
    height: 683px;
    right: 0;
    top: 175px;
}


.baloon-1 {
    width: 293px;
    height: 371px;
    top: 0;
    left: 125px;
}

.cloud-4 {
    width: 471px;
    height: 542px;
    left: 0;
    top: 100px;
}


.baloon-2 {
    width: 231px;
    height: 277px;
    right: 95px;
    bottom: 170px;
}

.cloud-5 {
    width: 659px;
    height: 456px;
    right: 0;
    bottom: 0;
}

.diver {
    width: 320px;
    height: 325px;
    top: -190px;
    right: 190px;
}