.prooved {
    padding-bottom: 215px;
}


.changes-box {
    @include flex($alignI: flex-start);
    color: #fff;
    padding: 0 80px;
    padding-top: 50px;
    position: relative;
    margin-bottom: 40px;

    .desc {
        width: 460px;
        padding-right: 30px;
        text-align: left;

        i {
            cursor: pointer;
        }
    }

    .values {
        width: -webkit-calc(100% - 460px);
        width: calc(100% - 460px);
        @include flex($alignI: flex-start);
        padding-left: 15px;

        .item {
            width: 33.3333%;
            text-align: left;
            font-size: 14px;
            margin-top: -5px;

            span {
                display: block;
                color: #03c1ff;
                font-family: $rm;
                font-size: 24px;
            }
        }
    }

    &:after {
        content: '';
        width: 100%;
        display: block;
        height: 1px;
        background-color: #fff;
        margin-top: 30px;
    }
}



.research-box {
    padding: 0 80px;
    @include flex($alignI: flex-start, $justify: space-between);
    color: #fff;
    margin-bottom: 40px;

    .percent,
    .posibility {
        border: 1px solid #fff;
        font-family: $rm;
        padding: 35px;
        width: 260px;
        text-align: left;
        font-size: 24px;

        .p-val {
            font-family: $rb;
            color: #03c1ff;
            font-size: 68px;
        }
    }

    .posibility {
        @include flex();
        padding: 65px 35px;
        span {
            display: inline-block;
            vertical-align: middle;
        }

        .p-lbl {
            width: 150px;
        }
        .p-val {
            width: -webkit-calc(100% - 150px);
            width: calc(100% - 150px);
        }
    }

    .research-text {
        width: 400px;
        text-align: left;
        p {
            line-height: 30px;
        }
        p:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}