.prooved {
    padding-bottom: 215px;
    @media (max-width: 700px) {
        padding-bottom: 100px;
    }
    @include m1000 {
        padding-bottom: 160px;
    }
    @include m500 {
        .button {
            font-size: 13px;
        }
    }
}


.changes-box {
    @include flex($alignI: flex-start);
    color: #fff;
    padding: 0 80px;
    padding-top: 50px;
    position: relative;
    margin-bottom: 40px;
    @include m1100 {
        padding: 50px 20px 0;
    }
    @include m1000 {
        display: block;
    }
    .desc {
        width: 460px;
        padding-right: 30px;
        text-align: left;
        @include m1000 {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        i {
            cursor: pointer;
        }
    }

    .values {
        width: -webkit-calc(100% - 460px);
        width: calc(100% - 460px);
        @include flex($alignI: flex-start);
        padding-left: 15px;
        @include m1000 {
            width: 100%;
            padding-left: 0;
        }
        .item {
            width: 33.3333%;
            text-align: left;
            font-size: 14px;
            margin-top: -5px;
            @include m1000 {
                text-align: center;
            }
            span {
                display: block;
                color: #03c1ff;
                font-family: $rm;
                font-size: 24px;
            }
        }
    }

    &:after {
        content: '';
        width: 100%;
        display: block;
        height: 1px;
        background-color: #fff;
        margin-top: 30px;
    }
}



.research-box {
    padding: 0 80px;
    @include flex($alignI: flex-start, $justify: space-between);
    color: #fff;
    margin-bottom: 40px;
    @include m1100 {
        padding: 0 20px;
    }
    @include m1000 {
       -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .percent,
    .posibility {
        border: 1px solid #fff;
        font-family: $rm;
        padding: 25px 35px;
        width: 260px;
        text-align: left;
        font-size: 24px;
        
        .p-val {
            font-family: $rb;
            color: #03c1ff;
            font-size: 68px;
        }
    }

    .posibility {
        @include flex();
        padding: 55px 35px;
        span {
            display: inline-block;
            vertical-align: middle;
        }
        @include m1000 {
             margin: 0 0 40px;
        }
        .p-lbl {
            width: 150px;
        }
        .p-val {
            width: -webkit-calc(100% - 150px);
            width: calc(100% - 150px);
        }
    }

    .research-text {
        width: 400px;
        text-align: left;
        p {
            line-height: 30px;
        }
        p:not(:last-child) {
            margin-bottom: 30px;
        }
        @include m1000 {
             margin: 40px 0;
        }
        @include m500 {
            width: 100%;
        }
    }
}



i.has-tooltip {
    position: relative;

    .tooltip {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        background-color: #fff;
        color: #fa4844;
        padding: 5px;
        border-radius: 3px;
        font-family: $rl;
        font-size: 14px;
        text-align: center;
        border: 1px solid #fa4844;
        margin-bottom: 5px;
        -webkit-filter: drop-shadow(0px 0px 2px #fa4844);
        filter: drop-shadow(0px 0px 2px #fa4844);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        span {
            display: inline-block;
            border-bottom: 1px dotted #fa4844;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 3px 0 3px;
            border-color: #fff transparent transparent transparent;
            top: 100%;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
}