.sliders-box {
    padding: 35px;
    background-color: #fff;
    margin-bottom: 200px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    @include m1100 {
        width: 100%;
        margin-bottom: 100px;
    }
    @include m1000 {
        padding: 20px 10px;
    }
    .slider-title {
        font-size: 30px;
        color: #043655;
        font-family: $ptb;
        margin-bottom: 40px;
    }

    .slider {
        padding: 0 30px;
        margin-bottom: 25px;
        @include m500 {
            padding: 0 15px;
        }
        .slide {

            .wrap {
                @include flex($alignI: flex-start);
                img {
                    @include m1100 {
                        display: block;
                        margin: 0 auto 20px;
                        max-width: 100%;
                    }
                }
                @include m1100 {
                    display: block;
                }
            }

            .img {
                width: 420px;
                margin-right: 50px;
            }

            .content {
                width: -webkit-calc(100% - 470px);
                width: calc(100% - 470px);
                text-align: left;
                @include m1000 {
                    width: 100%;
                }
            }

            &-title {
                font-family: $rm;
                line-height: 30px;
                margin-bottom: 10px;
            }

            p {
                line-height: 30px;
                @include m500 {
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
        }   

        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }

        .slick-dots {
            position: static;

            li {
                width: auto;
                height: auto;

                button {
                    width: 10px;
                    height: 10px;
                    box-sizing: border-box;
                    padding: 0;
                    background-color: transparent;
                    border: 1px solid #204C68;
                    border-radius: 50%;
                    -webkit-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #204C68;
                    }

                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background-color: #204C68;
                    }
                }
            }
        }
    }

    .controls {
        margin-bottom: 70px;
        .button {
            margin: 0 13px;
            @include m1000 {
                display: block;
                margin: 20px auto;
            }
            @include m500 {
                font-size: 12px;
            }
        }
    }


    .example-slider {
        figure {
            width: 460px;
            overflow: hidden;
            position: relative;
            margin: 0;
            height: 245px;
            z-index: 1;
            margin-bottom: 35px;
            @include m1100 {
                display: block;
                margin: 0 auto 20px;
            }
            @include m1000 {
                margin: 10px auto;
            }
            @include m500 {
                width: 280px;
                height: 150px;
            }
            @include m360 {
                width: 260px;
                height: 140px;
            }
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #5d5858;
                opacity: .8;
                line-height: 245px;
            }

            img {
                width: 100%;
            }

            .label {
                position: absolute;
                color: #fff;
                font-family: $rm;
                font-size: 30px;
                text-transform: uppercase;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                z-index: 1;
            }
        }

        .content {
            width: 100%!important;
            padding: 0 130px;
            @include m700 {
                padding: 0;
            }
            .author {
                text-align: center;
                font-family: $rm;
                margin-top: 10px;
            }
        }

        .slick-arrow {
            top: 122px;
        }
    }
}