.whatIs {
    @include flex($alignI: flex-start);
    margin-top: 40px;
    text-align: left;
    @include m1000 {
        display: block;
        margin-bottom: 80px;
    }
    &__column {
        width: 33.33%;
        @include m1000 {
            width: 100%;
            margin: 20px auto;
        }
        p {
            color: #FFF;
            margin-bottom: 30px;
            font: 18px/26px $rl;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        strong {
            color: #FFF;
        }
        &__li {
            margin-bottom: 60px;
            color: #FFF;
            padding: 0 70px;
            position: relative;
            @include m1200 {
                margin-bottom: 40px;
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        img {
            max-width: 100%;
        }
        &:nth-of-type(1) {
            @include m1000 {
                text-align: center;
            }
        }
        &:nth-of-type(2) {
            @include m1200 {
                padding-left: 20px;
            }
        }
        &:nth-of-type(3) {
            padding-left: 60px;
            @include m1200 {
                padding-left: 20px;
            }
            strong {
                margin-bottom: 20px;
                display: block;
            }
        }
    }
}

.quote {
    padding: 50px 100px;
    margin: 0 auto 145px;
    border: 1px solid #fff;
    p {
        font: 24px/36px $rl;
        color: #FFF;
    }
    @include m1000 {
        padding: 30px 60px;
    }
    @include m700 {
        padding: 30px 30px;
        margin-bottom: 80px;
        p {
            font-size: 20px;
            line-height: 1.4;
        }
    }
}