.whatIsSection {
    margin-top: 125px;
}
.whatIs {
    @include flex($alignI: flex-start);
    margin-top: 40px;
    text-align: left;
    &__column {
        width: 33.33%;
        p {
            color: #FFF;
            margin-bottom: 30px;
            font: 18px/26px $rl;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        strong {
            color: #FFF;
        }
        &__li {
            margin-bottom: 60px;
            color: #FFF;
            padding: 0 70px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &:nth-of-type(3) {
            padding-left: 60px;
            strong {
                margin-bottom: 20px;
                display: block;
            }
        }
    }
}

.quote {
    padding: 50px 100px;
    margin: 50px auto 145px;
    border: 1px solid #fff;
    p {
        font: 24px/36px $rl;
        color: #FFF;
    }
}