.whyList {
    @include flex($alignI: center, $justify: center);
    counter-reset: count;
    list-style-type: none;
    margin-top: 50px;
    li {
        margin-bottom: 37px;
        counter-increment: count;
        width: 50%;
        position: relative;
        padding-right: 100px;
        color: #FFF;
        font-size: 18px;
        line-height: 26px;
        text-align: left;
        @include m700 {
            width: 100%;
        }
        @include m500 {
            font-size: 16px;
            line-height: 22px;
        }
        &:after {
            position: absolute;
            right: 17px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            content: counter(count) ':0';
            display: block;
            font-size: 48px;
            color: #04C1FF;
            font-family: $rb;
        }
        &:nth-of-type(2n) {
            padding-right: 0;
            padding-left: 100px;
            &:after {
                right: auto;
                left: 17px;
            }
            @include m700 {
                padding-left: 0;
                padding-right: 100px;
                &:after {
                    right: 17px;
                    left: auto;
                }
            }
        }
        &:last-of-type {
            padding: 65px 50px 0;
            margin-top: -20px;
            &:after {
                right: 0;
                width: 65px;
                left: 0;
                top: 0;
                margin: auto;
            }
            @include m700 {
                margin-top: 0;
                width: 100%;
                padding: 0 100px 0 0;
                &:after {
                    right: 17px;
                    left: auto;
                }
            }
        }
    }
    + span {
        font: 24px/40px $rl;
        color: #FFF;
        display: block;
        text-align: center;
        margin-bottom: 35px;
    }
}