
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
    font-family: $rl;
    font-size: 18px;
    padding-top: 100px;
    background-color: #00437A;
}
section {
    position: relative;
}
h2 {
    font: 30px $ptb;
    color: #FFF;
}
h1 {
    font: 60px/75px $ptb;
    color: #FFF;
}
strong {
    font-family: $rm;
    font-weight: normal;
}
// lAYOUT
// ---------------------------
.wrapper {
	width: 1170px;
	margin: 0 auto;
	text-align: center;
    padding: 0 10px;
}
