
// TYPOGRAPHIC
// ---------------------------
body {
    font-family: $rl;
    font-size: 18px;
    padding-top: 100px;
    
    /*background-color: #00437A;*/

    @media (min-width: 1200px) {
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
        height: auto!important;
    }
}
section {
    position: relative;
}
h2 {
    font: 30px $ptb;
    color: #FFF;
}
h1 {
    font: 60px/75px $ptb;
    color: #FFF;
}
strong {
    font-family: $rm;
    font-weight: normal;
}
// lAYOUT
// ---------------------------
.wrapper {
	width: 1170px;
	margin: 0 auto;
	text-align: center;
    padding: 0 10px;
}
