// COLORS
// ---------------------------


// FONTS
// ---------------------------
$ptb:               'pt_serifbold';
$o:                 'open_sansregular';
$os:                'open_sanssemibold';
$rm:                'robotomedium';
$rl:                'robotolight';
$rb:                'robotobold';
$mdi:               'Material-Design-Iconic-Font';



// RESPONSIVE
// ---------------------------
